/********** Main Menu ***********/
#bkgImg{
	overflow: hidden;
	z-index: 20;
	/*eecb27*/
}
.cBtn{
	background: url('img/button.jpg') center center/ cover no-repeat;
	border-radius: 5px;
	cursor: pointer;
	font-size: 50px;
	font-family: 'Lovers Quarrel', cursive;
	padding: 0 6px;
	color: white;
	text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
	 user-select: none;
}
.cBtn:hover{
	color: gold;
}

#newGameBtn{
	position: absolute;
	top: 20%;
	right: 20%;
}

#loadGameBtn{
	position: absolute;
	top: 30%;
	right: 20%;
	margin-top: 20px;
}

#OptionsBtn{
	position: absolute;
	top: 40%;
	right: 20%;
	margin-top: 40px;
	padding: 0 34px;
}

#CreditsBtn{
	position: absolute;
	top: 50%;
	right: 20%;
	margin-top: 60px;
	padding: 0 34px;
}
/********** Start New Game ***********/
#newGameBoard{
	margin: 100px auto;
	width: 60%;
	height: 80%;
	/* <a href="http://www.freepik.com/free-photos-vectors/background">Background photograph designed by Jannoon028 - Freepik.com</a>*/ 
	background: url('img/wood.jpg') center center/ cover;
	border: 5px solid gold;
	border-radius: 5px;
	text-align: center;
	font-family:  'Fanwood Text', serif;
	color: black;
	outline: 2px dotted gold;
}

.textWBkg{
	position: relative;
	top: 57px;
}
#boardPaper{
	font-size: 20px;
	text-align: left;
	padding: 0 50px;
	margin: -70px auto;
	width: 90%;
	height: 90%;
	background: url('img/boardPaper.jpg') center center/ cover no-repeat;
	overflow-y: hidden;
}

#newGameText{
	font-size: 50px;
	font-family: 'Lovers Quarrel', cursive;
	color: gold;
	display: inline-block;
	text-shadow: 1px 1px 0 rgba(140,140,140,0.6) , -1px -1px 1px rgba(0,0,0,0.67) ;
	background-color: green;
	padding: 5px;
	border-bottom: 5px solid #006400;
	border-left: 4px solid #006400;
	border-right: 3px solid #228B22;
	outline: 2px dotted gold;
}

.field {
  display:flex;
  position:realtive;
  margin:5em auto;
  width:50%;
  flex-direction:row;
  box-shadow:
   1px 1px 0 #006400,
   2px 2px 0 #006400,
   3px 3px 0 #006400,
   4px 4px 0 #006400
  ;
}

.field>input[type=text]{
	display:block;
	font:1.2em 'Fanwood Text', serif;
	flex:1;
    padding:0.6em;
    border:0.2em solid green;
}
.field>button {
  display:block;
  color: gold;
  font:50px 'Lovers Quarrel', cursive;
  background-color:green;
  border:none;
  cursor: pointer;
}

/********** INVENTORY ***********/

.inv {
	float: left;
	margin: 0;
	padding: 1em;
	width: 10%;
}
.inv ul {
	list-style-type: none;
	padding: 0;
}
.inv ul a {
	text-decoration: none;
}

/********** INFO ***********/

.info {
	float: left;
	margin: 0;
	padding: 1em;
	width: 10%;
	text-align: right;
}
.info ul {
	list-style-type: none;
	padding: 0;
}
.info ul a {
	text-decoration: none;
}
#time {}
.main {
	float: left;
	width: 80%;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	padding: 1em;
	height: 100vh;
	text-align: center;
	 background: url('img/bedroom.png') center center/ cover no-repeat; //have to change
	 background-size: cover !important;
}


/********** Npc Cut Out***********/
#npcCutOut{
	position: absolute;
	top: 0;
	right: 40%;
}

/********** TEXT BOX ***********/

.textBox {
	position: absolute;
	width: 97%;
	margin-left: 2.5%;
	height: 75%;
	font: 12px/36px 'Fanwood Text';
	overflow-y: auto;
	word-wrap: break-word;
	color: white;
	padding-right:10px; 
    display:block;
	text-align: left;
}
 #text{
	  font-family: 'Fanwood Text', serif;
	  font-size: 18px;
 }
 
 #nameBox{
	position: relative;
	width: 100px;
	height: 40px;
	align: center;
	color: white;
	font-family: 'Lovers Quarrel', cursive;
	font-size: 36px;
	border: 2px solid blue;
	border-bottom: none;
	background: url('img/actionTex.jpg') repeat;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	top: -20px;
	right: 2px;
 }
 
 
  #nameBoxText{
	background: rgba(0, 6, 9, 0.6);
	display:block;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
  }
 
#roomName{
	padding: 5px;
	font-family: 'Lovers Quarrel', cursive;
	font-size: 60px;
	color: lightblue;
	border: 1px solid gold;
	border-radius: 30px;
	background-color: rgba(0, 6, 9, 0.9);
	z-index: 10;
}

#resizeBtn{
	color: gold;
	outline:none;
	border: none;
	background-color: Transparent;
	position: relative;
	cursor:pointer;
	top: 8px;
	right: -48.5%;
}
/********** Player Avatar ***********/
#playerAvatar{
	margin-top: 20px;
	height: 200px;
	overflow:hidden;
	border: 2px dashed gold;
	
}

#avatarShirt img{
	position: relative;
	top: -200px;
	z-index: 2;
}

/********** SCROLLBAR STYLES***********/

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px blue;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: silver;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:hover {
	background: #097a76;
}

/********** ACTION LINKS ***********/

.action ul {
	list-style-type: none;
	padding: 0;
	float: left;
}

.action li {
	float: left;
}
.action li a {
	display: block;
	text-align: center;
	padding: 5px;
	padding-left: 10px;
	text-decoration: none;
	max-height: 20%;
	background: url('img/equipBox.jpg') no-repeat;
	width: 100px;
	margin: 5px;
}
.action{
	position:absolute;
	bottom:0%;
	right: 10%;
	top: 90%;
    left: 10%;
	border-top: 1px solid #f5f5dc;
	background: url('img/actionTex.jpg') repeat;

}

/********** Exit LINKS ***********/

.exit {
	list-style-type: none;
	padding: 0;
}
.exit li {
	float: left;
	background-color: rgba(0, 6, 9, 0.7);
}
.exit li a {
	display: block;
	text-align: center;
	padding: 5px;
}
li a {
	display: block;
	color: #969E8D;
	border-bottom: 1px dotted #96BF1F;
	-moz-transition: background-color .3s ease-in;
	-webkit-transition: background-color .3s ease-in;
	-o-transition: background-color .3s ease-in;
	transition: background-color .3s ease-in;
}
li a:hover, li a.selected {
	background-color: rgba(34, 178, 181, 0.6);
	color: #fff;
	-moz-transition: background-color 0.01s;
	-webkit-transition: background-color 0.01s;
	-o-transition: background-color 0.01s;
	transition: background-color 0.01s;
}

/********** Popovers ***********/
/********** Buttons ***********/
.btn-custom { 
	 margin: 10px;
	 /* will need to replace background */
	 background: url('img/parch.png') no-repeat;
	 background-size: 50px 30px;
	 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.33);
	 -webkit-font-smoothing: antialiased; 
	 height: 30px;
	 width: 50px;
	 border: none;
 }

 /********** Shop ***********/
 .ingBackground {
	  position: fixed;
	  /* change background */
	  background: url('img/ingShopBackground.jpg') no-repeat center center fixed;
	  width: 100%;
	  height: 100%;
	  background-size: cover;
	  background-position: 50% 50%; 

	  -webkit-filter: blur(5px);
	  -moz-filter: blur(5px);
	  -o-filter: blur(5px);
	  -ms-filter: blur(5px);
	  filter: blur(3px);
	  z-index: 10;
	}

 div#ingShopBorder{
	background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%, rgba(0,0,0,1) 100%); 
	background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%,rgba(0,0,0,1) 100%); 
	background: radial-gradient(ellipse at center, rgba(0,0,0,0.65) 0%,rgba(0,0,0,1) 100%);
	 border-style: solid;
	 border-width: 37px 69px 37px 69px;
	 -moz-border-image: url(img/border.jpg) 84 86 83 80 round;
	 -webkit-border-image: url(img/border.jpg) 84 86 83 80 round;
	 -o-border-image: url(img/border.jpg) 84 86 83 80 round;
	 border-image: url(img/border.jpg) 84 86 83 80 round;
	 height: 90vh;
	width: 80%;
   position: relative;
   color: white;
    font-family: 'Slabo 27px', serif;
	 margin: 0 auto;
	z-index: 100;

 }
#shopM td, th{
	color: white;
}
	
#buyM{
	float: left;
	width: 70%;
	height: 15%;
	padding: 5px;
}
#munM{
	float: left;
	width: 30%;
	height: 15%;
	padding: 3px 30px 3px 0px;
	text-align: right;
	font-size: 30px;
}
#infoM{
	float: left;
	width: 40%;
	height: 85%;
	padding: 5px;
}
#shopM{
	float: left;
	width: 60%;
	height: 85%;
	padding: 5px;
}
.borderM{
    overflow:hidden;
	border-style: solid; 
	border-width: 20px 25px 18px;
	-moz-border-image: url(img/borderInner.jpg) 27 28 27 26 stretch;
	-webkit-border-image: url(img/borderInner.jpg) 27 28 27 26 stretch;
	-o-border-image: url(img/borderInner.jpg) 27 28 27 26 stretch;
	border-image: url(img/borderInner.jpg) 27 28 27 26 stretch;
}
.emph{
	font-size: 20px;
	color: lightblue;
}

.buym_{
	float: left;
	padding: 5px 10px 5px 20px;
	font-size: 20px;
	text-align: center;
}

.buym_:hover{
	background-color: blue;
}

#buyTotalText{
	position: absolute;
	bottom:15px;
	font-size: 20px;
}

.myBtn{
  margin: 5px;
  background-color: hsl(39, 64%, 15%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc942c", endColorstr="#3e2d0d");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#cc942c), to(#3e2d0d));
  background-image: -moz-linear-gradient(top, #cc942c, #3e2d0d);
  background-image: -ms-linear-gradient(top, #cc942c, #3e2d0d);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cc942c), color-stop(100%, #3e2d0d));
  background-image: -webkit-linear-gradient(top, #cc942c, #3e2d0d);
  background-image: -o-linear-gradient(top, #cc942c, #3e2d0d);
  background-image: linear-gradient(#cc942c, #3e2d0d);
  border-color: #3e2d0d #3e2d0d hsl(39, 64%, 6.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56);
  -webkit-font-smoothing: antialiased;
}
.myBtn:hover {
  color: #FFD700 !important;
}
 /********** Overlay ***********/
 .overlay{
	 height: 100%;
	 width: 0;
	 position: fixed;
	 z-index: 20;
	 top: 0;
	 left: 0;
	 /*http://akinna-stock.deviantart.com/art/paper-texture-43428123*/
	 background: url('img/paper.jpg') repeat;
	 overflow-x: hidden;
	 transition: 0.5s;
 }
 
 .layer{
	 background-color: rgb(0, 0, 0);
	 background-color: rgba(0, 0, 0, 0.9);
 }

 .overlay .closebtn{
	 position: absolute;
	 top: 20px;
	 right: 20px;
	 font-size: 50px;
	 text-decoration: none;
 }
 .closebtn:hover{
	 color: gold;
 }
 .journal-content{
	 color: white;
	  overflow: hidden;
 }
 #jOptions{
	 float: left;
	 margin: 10px;
	 margin-left: 0px;
	 width: 20%;
	 height: 100vh;
	
 }
 /* Replace Background */
 #jOptions:before{
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    width:230px;
    height:100%;
    content:"";
	background: url('img/journalSideBG.jpg') ;   
	background-color:red;
	border: solid transparent;
    border-width: 0 10px 0 0 ;
	border-color: blue;
 }
 
 ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tablinks{
	color: blue;
}

ul.tab li a:hover {
    color: gold;
}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {
   color: gold;
}

#invTable{
	width: 50%;
}

#invTable td, th{
	color: white;
}


  /********** Ribbon ***********/
.ribbon {
    background: #1FAABE;
    height: 87px;
    margin: 0 auto;
    position: absolute;
    width: 74px;
    right:20px;
    text-align:center;
    vertical-align:middle;
    line-height:87px;
    font-size:35px;
    color:#f2f2f2;
}

.ribbon:after,
.ribbon:before {
    content: '';
    position: absolute;
    border-top: 20px solid #1FAABE;
    height: 0;
    width: 0;
    top: 100%;
}
.ribbon:after {
    border-left: 50px solid transparent;
    right: 0px;
}
.ribbon:before {
    border-right: 50px solid transparent;
    left: 0px;
}

.ribbonHoz {
	padding: .1em .5em;
	margin-left: 0;
	margin: 0;
	margin-top: 5%;
	position:relative;
	color: #ffffff;
	font: 32px 'Patua One', sans-serif;
	text-align: center;
	letter-spacing:0.1em;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,.3),
					inset 0px 0px 20px rgba(0,0,0,0.1),
					0px 1px 1px rgba(0,0,0,0.4);
	background: -webkit-linear-gradient(top,#1eb2df, #17a7d2);
	width: 230px;
	display: block;
	float: left;
	clear: both;
}
	

 .ribbonHoz:after {
		content: "";
		width:.2em;
		bottom:-.5em;
		position:absolute;
		display:block;
		border: .9em solid #1eb2df;
		box-shadow:0px 1px 0px rgba(0,0,0,0.4);
		z-index:-2;
}
	
.ribbonHoz:after {
		right:-37px;
		border-left-width: .75em;
		border-right-color:transparent;
}

.content:hover{
	color: gold;
}
/*
 .content:after {
		content:"";
		bottom:-.5em;
		position:absolute;
		display:block;
		border-style:solid;
		border-color: #0675b3 transparent transparent transparent;
		z-index:-1;
	}
	*/
.content:after {
	  right: 0;
	  border-width: .5em .5em 0 0;
	}

 /********** Equipment ***********/
 .border{
	border: 1px solid;
	border-color: red;
 }
 #equipment{
	 overflow: hidden;
 }
#equipmentChest {
    width: 400px;
    height: 540px;
}

#equipmentChest div {
	float: left;
    width: 130px;
    height: 130px;
    outline: 1px solid;
	outline-color: #F5F5DC;
	background: url('img/equipBox.jpg') no-repeat;
	position: relative;
}
.skirt{
	position: absolute;
	top: 30%;
}

#playerEquipped{
	margin-right: 140px;
	height: 340px;
	width: 360px;
}
 #playerBase{
	margin: 5px; 
	align: center;
	position: relative;
 }
 
  #playerBase img{
	postion: relative;
 }
 
.equippedBox{
	width: 100px;
    height: 100px;
	background: url('img/equipBox.jpg') no-repeat;
	background-size: cover;
}

#equipInfo{
	width: 360px;
	height: 340px;
	text-align: center;
	font-size: 20px;
	font-family: 'Slabo 27px', serif;
	background-color: rgba(0, 7, 8, 0.7);
}

.secondLayer{
	z-index: 30;
}
.firstLayer{
	z-index: 20;
}

 /********** Recipies ***********/

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #21B6A8;
  cursor: pointer;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-right: 60px solid #21B6A8;
  cursor: pointer;
}

#recL{
	margin-top: 50px;
	float: left;
	margin-right: 10px;
	margin-left: 5%;
}
#recR{
	margin-top: 50px;
	float: left;
	margin-left: 10px;
}
#recipeDisplay{
	margin-top: 50px;
	font-family: 'Slabo 27px', serif;
	background-color: rgba(0, 7, 8, 0.7);
	height: 80vh;
	width: 30%;
	float: left;
	padding: 10px;
}
#recipeInfo{
	margin-top: 50px;
	font-family: 'Slabo 27px', serif;
	background-color: rgba(0, 6, 9, 0.7);
	height: 80vh;
	width: 20%;
	float: left;
}

#recIcon{
	margin: 5px;
	width: 150px;
	height: 150px;
}
#recName{
	color: gold;
	font-size: 25px;
	text-align: center;
	margin: 5px;
	margin-top: 10px;
	text-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
}

#recFav {
	list-style-type: none;
}
#recFav img{
	display: inline-block;
   margin: 5px 10px;
   border-radius: 25px;
    border: 5px solid white;
  padding: 2px;
}
 /********** Basic Stylings ***********/
 li{
	 font-family: 'Slabo 27px', serif;
 }
body {
	background: url('img/cork-wallet.png') repeat;
	overflow: hidden;
}
div.container {
	width: 100%;
	background: url('img/cork-wallet.png') repeat;
}
p{
    line-height: 200%;
}

table#buyTable {
  width: 100%;
}

.right{
	float: right;
}	
.left{
	float: left;
}

.clearfix{
    clear:both
}

.vcontainer {
   min-height: 10em;
   display: table-cell;
   vertical-align: middle;
}

.bottomOfScreen{
	position:absolute;
	bottom:9%;
	right: 12%;
    left: 12%;
	border: 2px double;
	border-color: gold;
	background-color:  rgba(0, 6, 9, 0.7);
	border-radius: 15px;
}
@media screen and (max-height: 600px) {
	.bottomOfScreen{
		position:absolute;
		bottom:1.5%;
		right: 12%;
		left: 12%;
		border: 2px double;
		background-color:  rgba(0, 6, 9, 0.7);
		border-radius: 15px;
	}
}

#bottomText{
	border-color: gold;
	top: 65%;
}

#talkingText{
	border-color: blue;
	top: 60%;
}

.abs{
	position: absolute;
}

.vertLine{
	float: left;
	height:80vh;
	width:0;
	border:0;
	border-left:3px;
	border-style:double;
	border-color:#00FF00";
}

.cap{
	text-transform: capitalize;
}
